<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omelchenkoaleks.starttechopolice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="._003_load_image_and_progress_bar.ProgressBarActivity"></activity>
        <activity android:name="._003_asynctask.GetImageActivity" />
        <activity android:name="._003_test_load_image.LoadImageTestActivity" />
        <activity android:name="._003_load_image_async_task.LoadImageActivity" />
        <activity android:name="._003_handler_thread_class.HandlerThreadClassActivity" />
        <activity android:name="._003_handler_thread.HandlerThreadActivity" />
        <activity android:name="._001_draw.DrawActivity" />
        <activity android:name="._001_fire.FireActivity" />
        <activity android:name="._002_recycler_view.MovieActivity" />
        <activity android:name="._002_constraint.BarrierActivity" />
        <activity android:name="._002_constraint.GuidelineActivity" />
        <activity android:name="._002_constraint.GroupActivity" />
        <activity android:name="._002_constraint.layout_constraintHorizontal_chainStyleActivity" />
        <activity android:name="._002_constraint.layout_constraintBaseline_toBaselineOfActivity" />
        <activity android:name="._002_constraint.layout_constraintHorizontal_biasActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="._001_introduction.MainActivity" />
        <activity
            android:name="._001_introduction.TestActivity"
            android:theme="@style/AppTheme.Floating" />
        <activity android:name="._001_introduction.SecondMainActivity" />
        <activity android:name="._002_constraint.layout_constraintWidth_defaultActivity" />
    </application>

</manifest>